<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.park.repository.mysql.dao.RentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.park.repository.mysql.entity.RentDO">
        <id column="ident" property="ident" />
        <result column="user_id" property="userId" />
        <result column="card_id" property="cardId" />
        <result column="rentable_before" property="rentableBefore" />
        <result column="rentable_after" property="rentableAfter" />
        <result column="cost" property="cost" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ident, user_id, card_id, rentable_before, rentable_after, cost
    </sql>

</mapper>
